<footer style=" background-color: #2c3e50;  align-content: center;" class="text-white py-8">
    <div class="container mx-auto px-6">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <div class="p-8">
                <h5 style="display: flex; justify-content: center;" class="text-2xl font-bold mb-4">LOCATION</h5>
                <ul style="display: flex; justify-content: center;">
                    <li>
                        <h3>2215 John Daniel Drive</h3>
                    </li>
                    <li>
                        <h3>Clark, MO 65243</h3>
                    </li>

                </ul>
            </div>
            <div class="p-8">
                <h5 style="display: flex; justify-content: center;" class="text-2xl font-bold mb-4">AROUND THE WEB</h5>
                <ul>
                    <li>
                        <div style="display: flex; gap: 10px; justify-content: center;">
                            <fa-icon style="font-size: 30px;" [icon]="faFacebook"></fa-icon>
                            <fa-icon style="font-size: 30px;"[icon]="faTwitter"></fa-icon>
                            <fa-icon style="font-size: 30px;"[icon]="faLinkedin"></fa-icon>
                            <fa-icon style="font-size: 30px;"[icon]="faEarthAfrica"></fa-icon>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="p-8">
                <h5 style="display: flex; justify-content: center;"  class="text-2xl font-bold mb-4">ABOUT FREELANCER</h5>
                <ul style="display: flex; justify-content: center;" class="flex space-x-4">
                    <li>
                        <h3> Freelance is a free to use, licensed Bootstrap theme created by Route </h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>