
<div class="aboutContant">
    <div class="block mx-64">
        <div class="flex justify-center items-center my-3" >
            <h1 class="text-4xl font-bold uppercase ">about component</h1>
        </div>

        <div class="flex justify-center items-center my-3">

            <div style="min-height: 5px;
            max-height: 5px;
            background-color: white;
            min-width: 30%;
            margin-left: 20%;
            ">
            </div>

            <div class="m-2">
                <fa-icon [icon]="faStar"></fa-icon>
            </div>

            <div style="min-height: 5px;
            max-height: 5px;
            background-color: white;
            min-width: 30%;
            margin-right: 20%;">
            </div>
        </div>


        <div class="grid grid-rows-3 grid-flow-col gap-4 container mx-auto">
            <div class="row-span-2 text-xl text-left" > Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization. </div>
            <div class="row-span-2 text-xl text-left">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization. </div>
        </div>


    </div>
</div>
